/*
style-scales-generator-01-01.css
====================
Par AHJ
*/



#form-scales-generator {  
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30px 30px;

  grid-template-areas: "lab-fondamentale lab-alteration lab-qualitee button"
                        "fondamentale alteration qualitee button";

  margin: 10px 0px 0px 0px;
  padding: 5px 5px 15px 5px;

  border: 1px solid #b2bec3;
  border-radius: 3px;
}

#lab-fondamentale, #lab-alteration, #lab-qualitee {
  grid-area: lab-fondamentale, lab-alteration, lab-qualitee;
}
#fondamentale {
  grid-area: fondamentale;
}

#alteration {
  grid-area: alteration;
}

#qualitee {
  grid-area: qualitee;
}

label {
  height: 25px;
  width: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
  padding: 0px 0px 0px 0px;

  background-color: silver;
  border: 1px solid #b2bec3;
  border-radius: 3px;
}
select {
  height: 30px;
  width: 200px;
  
  margin: 5px;
  padding: 0px 5px 0px 5px;

  border: 1px solid #b2bec3;
  border-radius: 3px;
}

#button-run {
  height: 60px;
  width: 90px;

  margin: 5px;
  padding: 0px;
}

#resultsAngloSaxAndStaff {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px;

  grid-template-areas: "notation-anglo-sax postCanvas";

  margin: 5px 0px 5px 0px;
  padding: 0px 0px 0px 0px;/*
  border: 1px solid #b2bec3;
  border-radius: 3px;  */
}/*
#notesAngloSax {
  grid-area: notesAngloSax;

  border: 1px solid #b2bec3;
  border-radius: 3px;  
}*/
#notation-anglo-sax {
  grid-area: notation-anglo-sax;
  display: flex;  
  justify-content: center;
  align-items: center;
  
  margin: 0px;
  padding: 0px;

  border: 1px solid #b2bec3;
  border-radius: 3px;
}
#scalesGenerator {
  margin: 5px;
  padding: 10px;
/*
  border: 1px solid #b2bec3;
  border-radius: 3px; */
}
#postCanvas {
  grid-area: postCanvas;

  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  border: 1px solid #b2bec3;
  border-radius: 3px;  
}
