/*style-pager-01.css
====================
Par AHJ
*/
#pagination {
	padding: 5px;
    border: 1px solid #b2bec3;
}
#lienPage, #lienPage-G, #lienPage-D {
    width: 70px;
    height: 30px;
    display: inline-block;
    color: #464343;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
	padding-bottom: 8px;
    background-color: #bdc3c7;
    border: 1px solid #b2bec3;
    border-radius: 5px;
}

#lienPage-M {
    width: 70px;
    height: 30px;
    display: inline-block;
    color: #464343;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    padding-bottom: 8px;
    background-color: #ecf0f1;
    border: 1px solid #b2bec3;
    border-radius: 5px;
}