body {
  padding-top: 10px;
  padding-bottom: 10px;
}
[class*="col-"], footer {
  background-color: #F5F5F5;
  border: 1px solid black;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#header {
  margin-bottom: 5px;
}
#post {
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 5px; 
}
#post_detail {
  margin-top: 15px;
  margin-bottom: 5px;
}
.pager {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
img { width: 100%; }
.img_post {
  width: 90%;
}
.img_detail {
  width: 60%;
  background-color: #F5F5F5;
}
.img_comments {
  width: 60%;
}
.col-md-2 {
  border: 0px solid black;
  padding: 0px;
}
.col-md-10 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
#liens {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
}
#zone_img {
  margin-bottom: 5px;
}
#zone_form {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 15px;
}
#zoneCommentaire {
  background-color: #F5F5F5;
  border: 1px solid black;
  border-radius: 3px;
  /*margin-right: auto;
  margin-left: auto;*/
  margin-top: 3px;
}
#pseudo {
  text-align: left;
}
#pseudo_date {
  height: 15px;
}
#comment {
  height: 15px;
}
#date_com {
  text-align: left;
}
#text_com {
  text-align: left;
}
#retour {
  padding: 0px;
  margin-bottom: 5px;
}
#num_pages {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}