/*style-footer.css
=========================
Par AHJ
*/

#footer {
  	display: block;/*
    height: 60px;*/
	margin: 0px;
    padding: 0px;
    color: grey;
    background-color: #EBECED;
    border: 1px solid #b2bec3;/*
    border: 1px solid #b2bec3;*/
}
#footerContent {
    text-align: center;
    line-height:  40px;
	margin: 0px;
    padding: 0px;  
}