/*
    style-irregularVerbsRandom.css
    -------------------
    Par AHJ
*/

.section-rand-verb {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto;

    grid-gap: 0px;

    grid-template-areas: "title-rand-verb"
                          "rand-verb"
                          "button";
    
    max-width: 600px;
	margin: auto;
    padding: auto;
}
.title-rand-verb {
    grid-area: title-rand-verb;

    grid-template-columns: 1fr;
    grid-template-rows: auto ;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rand-verb {
    grid-area: rand-verb;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
        "titleRow"
        "contentRow";
}
#titleRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "title-infinitive title-simplePast title-pastParticipe title-translation"
        "infinitive simplePast pastParticipe translation";
    margin: 0px;
    background-color: rgb(146, 146, 146);
    border-radius: 4px;
}
#tenses {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(187, 187, 187);
    border: 1px solid #7e7e7e;
    border-radius: 4px;
}
#verb {
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #b2bec3;
    border-radius: 4px;
} 
#contentRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "infinitive simplePast pastParticipe translation"
        "verb verb verb verb";
    margin: 0px;
}
button {
    grid-area: button;

    width: 70px;
    height: 35px;

    margin: 20px auto;
    padding: 5px;
}