/*
style-irregularVerbsTraining-1-03.css
==========
By AHJ
*/

/* Distribution of cells in 2 columns and 5 rows */
.section-irr-ver-train {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 40px 40px 40px auto;

  grid-gap: 0px;

  grid-template-areas: "title-content title-content"
                        "title-infinitive infinit"
                        "title-simplePast simpleP"
                        "title-pastParticipe pastP"
                        "zoneBoutonCheck zoneBoutonCheck";
    
   
	max-width: 900px;   
	
	margin: 0px auto;
	padding: 20px 20px 10px 20px;
}

/* Table title */
.title-content {
  grid-area: title-content;

  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
}

/* Columns title */
.title-infinitive, .title-simplePast ,.title-pastParticipe {
	height: 40px;
	
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f1f1f1;

	border: 1px solid grey;
	border-radius: 4px;
}
.title-infinitive {
	grid-area: title-infinitive;

	margin-top: 30px;
}
.title-simplePast {
	grid-area: title-simplePast;
}
.title-pastParticipe {
	grid-area: title-pastParticipe;
}

/* Row containing inputs and results */
#infinit, #simpleP, #pastP {
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f1f1f1;
	border: 1px solid grey;
	border-radius: 4px;
}
#infinit {
	grid-area: infinit;

	margin-top: 30px;
}
#simpleP{
	grid-area: simpleP;
}
#pastP {
	grid-area: pastP;
}

/* Inputs and results cells */
#infinitive, #simplePast, #pastParticipe {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align:center;
	
	padding: 5px;
}
#infinitive, #simplePast, #pastParticipe {
	width: 150px;
	height: 30px;

	background-color: white;
	border: 1px solid grey;
	border-radius: 4px;
}

/* Image of for the result */
#zoneCheckImages {
	grid-area: zoneCheckImages;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	padding: 0px;
}
#checkImages {
	grid-area: checkImages;

	margin: 0px;
	padding: 0px;
}

/* Button for correction or refresh */
#zoneBoutonCheck{
	grid-area: zoneBoutonCheck;

	text-align: center;

	margin-top: 30px;
}
button {
	width: 70px;
	height: 35px;

	margin: 20px auto;
	padding: 5px;
}