body {
    text-align:center;
}
#page {
    text-align:center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
div {
    text-align: center;
}
div#bandeau {
    width: 600px;
    height: 50px;
    background-color: #00CCFF;
}
div#contenu {
    width: 600px;
    height: 400px;
    background-color: #FFCC00;
}
div#blocnews {
    float: right;
    width: 150px;
    height: 150px;
    background-color: #FF3300;
}
div#piedpage {
    width: 600px;
    height: 50px;
    background-color: #33FF99;
    clear: both;
}
div#menu {
    float: left;
    width: 100px;
    height: 400px;
    background-color: #FF6699;
}