nav {	
	padding: 1px;
	text-align: right;
}
nav ul {
    list-style-type: none;
	margin: 4px 0px 4px 0px;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}
nav a {
    font-size: 1.3em;
    color: white;
    padding: 3px;
    text-decoration: none;	
}
nav a:hover {
    background-color: 438aff;
	color: white;
	border-radius: 3px;
    text-decoration: none;
}