/*
  style-main.css
  ====================
  Par AHJ
*/

*,
::before,
::after {
  box-sizing: border-box;

  margin: 0px;
  padding: 0px;
}
/************************* Body ************************/
body {
	margin: 0px;
  padding: 0px;
	
  font-family: Arial, Helvetica, sans-serif;

  background-color: azure;
}

/************************* Grid ************************/
.grid {
  display: grid;

  grid-template-columns: 1fr;
  grid-auto-rows: 23px 23px 20px auto 110px 45px;

  grid-template-areas: "a-header"
                        "nav"
                        "main"
                        "main"
                        "aside"
                        "footer";

	width: 100%;

	margin: 0 auto;
	padding: 0px;											
  
  background-image: url(../img/tags-Marseille-L-Estaque-1-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  border: 1px solid rgb(163, 164, 170);
}

/************************* Mobile version ************************/
@media only screen and (min-width: 900px) {
	.grid {
		display: grid;

		max-width: 1024px;

		margin: 0px;
  	padding: 0px;
		
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 23px 23px 20px  auto  45px;
		
		grid-template-areas: "a-header a-header a-header a-header a-header"
                         " nav nav nav nav nav"
							 					 "aside main main main main"
							 					 "aside main main main main"
							 					 "footer footer footer footer footer";
			
		width: 100%;
		height: 99vh;
		margin: 0 auto;
		padding: 0px;								 		
	}
	.a-header {
		grid-area: a-header;

		grid-column-start: 1;
    grid-column-end: 6;
	}
	.nav {
		grid-area: nav;

		grid-column-start: 1;
    grid-column-end: 6;
	}
  .aside {
      grid-area: aside;
     
      grid-column-start: 1;
      grid-column-end: 2;
  }
  .main {
      grid-area: main;

      grid-column-start: 2;
      grid-column-end: 6;
  }
}

.a-header {
  grid-area: a-header;

  display: grid;
  
  grid-row-start: 1;
  grid-row-end: 3;

  display: flex;
  justify-content: left;
  align-items: center;

  color: white; 
  text-decoration: none;

  margin: 0px;
  padding: 10px;

  background-color: #19a3ff;
}

/************************* Navigation ************************/
.nav {
  grid-area: nav;
  
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto ;

  grid-template-areas: "ul-nav ul-nav ul-nav";

  grid-row-start: 2;
  grid-row-end: 4;

  z-index: 2;

  display: flex;
  justify-content: right;
  align-items: center;
  
  margin: 0px;
  padding: 10px;
}
.ul-nav {
  grid-area: ul-nav;

    display: grid;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;

	grid-template-areas: "li-home li-blog li-contact";
}
.a-nav {
	font-size: 0.8em; 
  text-decoration: none;
}
.li-home, .li-blog, .li-contact {
	grid-area: li-home, li-blog, li-contact;
	
	width: 50px;
  height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 5px;
	padding: 5px;

	color: #313131;

	background-color: #fcab4f;
  border: 1px solid rgb(163, 164, 170);
	border-radius: 100px;
}
.li-home:hover, .li-blog:hover, .li-contact:hover {
	font-weight: bold;

	background-color: #f7fa3d;
  border: 1px solid rgb(163, 164, 170);
  border-radius: 100px;
}

/************************* Main ************************/
.main {
  grid-area: main;
/*
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: auto 400px;

	grid-template-areas: 
    "h1-post"
		"link-form";

*/
  border-bottom: 1px solid rgb(163, 164, 170);
}
.title-content {
  grid-area: title-content;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 30px auto;
	padding: 0px;
}

.link-posts {/*
  grid-area: link-posts;*/
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;

  background-color: #b2b5b8a1;
  border: 1px solid rgb(163, 164, 170);
}
.link-posts:hover {
  background-color: #edeff1a1;
}
.link-post {
  color: black;
}

/************************* Aside ************************/
.aside {
	grid-area: aside;

	margin: 0px;
	padding: 0px 5px 0px 5px;
}
.a-aside { 
  text-decoration: none;
}
.li-aside {
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 5px;

	color: #f3f3f3;

	background-color: #858686a1;
}
.li-aside:hover {
	background-color: #fcab4f;
}

/************************* Footer ************************/
footer {
  grid-area: footer;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #19a3ff;
}