/*
style.css de index
-------------------

Par AHJ
*/
body {
	padding-top: 10px;
    text-align:center;
}
h1 {
	font-family: Arial, serif;
	font-size: 1.5em;
	color: grey;
}
h2 {
	font-family: Arial, serif;
	font-size: 1.2em;
	border: 1px solid black;
	box-shadow: 6px 6px 6px black;
	width: 50%;
}
p {
	/*font-size: 1em;
	width: 80%;*/
}
a {
	color: red;
	font-style: italic;
}
a:hover {
	text-decoration: underline;
	color: blue;
	font-weight: bold;
    text-decoration: none;
}
a:active {
	background-color: #FFCC66;
}
a:focus {
	background-color: #FFCC66;
}
a:visited {
	background-color: #AAA;
}

[class*="col-"], nav, section, footer {
	background-color: #EBECED;
	border: 1px solid black;
	border-radius: 3px;
	line-height:  40px;
	text-align: center;
}
.container {
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}
div {
    text-align: center;
}
div a {
	text-decoration: none;
	display: block;
}


#banniere {
    background-color: #00CCFF;
    display : block;
}
#contenu {
    background-color: #dfe4ea;
}
#menu {
	line-height: 25px;
}
#lien-menu {
	/*height: 30px;*/
	margin: 10px;
}
#lien-page {
	display: inline;
}
#footer {
	height: 35px;
  	display: inline;
}
#menu_horiz {
    background-color: #ced6e0;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.container {
        width: 560px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.container {
        width: 970px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	 .container {
        width: 1170px;
    }
}


