[class*="col-"], nav, section, footer {
	background-color: #EBECED;
	border: 1px solid black;
	border-radius: 3px;
	line-height:  40px;
	text-align: center;
}
.container {
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}
div {
    text-align: center;
}
#banniere {
    background-color: #00CCFF;
    display : block;
}
.titre_pincipal {
	text-decoration:none;
}
#contenu {
    background-color: #dfe4ea;
}
#footer {
	height: 35px;
  	display: inline;
}
#menu_horiz {
    background-color: #ced6e0;
}