/*
  style-irregularVerbs.css
  =========================
  Par AHJ
*/
.div-all-irr-ver {
  max-width: 850px;
  margin: 10px auto;
  padding: 0px;
}
/* Distribution of cells in 4 columns and ? rows */
.section-all-irr-ver-div {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 40px auto;

  grid-gap: 0px;

  grid-template-areas: 
    "titleContent titleContent titleContent titleContent"
    "title-infinitive title-simplePast title-pastParticipe title-translation"
    "contentRow contentRow contentRow contentRow";
  
  margin: 0px;
  padding: 10px;
}

/* Row containing columns title */
#titleRow {
  grid-area: titleRow;

  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25px;

  grid-template-areas: 
    "infinitive simplePast pastParticipe translation";

  margin: 0px 5px 20px 5px;
  padding: 0px;
}
#temps {
	height: 40px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 5px;

  background-color: #cccccc;
  border: 1px solid #8b8b8b;
  border-radius: 4px;
}
.title-infinitive .title-simplePast .title-pastParticipe .title-translation {
  grid-area: title-infinitive title-simplePast title-pastParticipe title-translation;
}

/* Row containing results */
#contentRow {
  grid-area: contentRow;

  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  grid-template-areas: 
    "infinitive simplePast pastParticipe translation";
  
  margin: 0px 5px 5px 5px;
}

/* Results to put in the rows */
#infinitive, #simplePast, #pastParticipe, #translation {
	display: inline-block; 

  margin: 0px;
  padding: 5px;

  background-color: #f1f1f1;
  border: 1px solid #949494;
  border-radius: 4px;
}