/*
  style-menu-hamgurger-lateral.css
  =================================
  By AHJ
*/

/* Sidenav menu */
.sidenav {
  display: grid;

  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: -450vw;
  
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 100px;

  background-color: #e8e8e89f;
  backdrop-filter: blur(4px);

  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  display: block;

  font-size: 20px;
  color: #292727;
  text-decoration: none;

  padding: 8px 8px 8px 32px;

  transition: 0.2s;
}

.sidenav a:hover {
  color: #3485ff;
}

.sidenav ul {
  list-style-type: none;
  
  margin: 0;
  padding: 0;
}
.sidenav a.active {
  color: #ff0000;
}
/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 7px;
  right: 22px;

  font-size: 36px;
}

/* Icon and name area */
#openBtn {
  display: flex;

  justify-content: right;
  align-items: center;

  padding-right: 15px;

  background-color: #3485ff
}

/* Icône burger */
.burger-icon span {
  display: block;

  width: 35px;
  height: 5px;

  margin: 6px;

  background-color: #ffffff;
}

#openBtnName {
  font-size: 0.9em;
  color: #ffffff;
  
  padding: 0px 0px 0px 6px;
}